/*@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 400;
  src: local('roboto'),
	url(http://localhost/base-v8/recursos/fuentes/roboto/Roboto-Regular.ttf)
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'),
	url(http://localhost/base-v8/recursos/fuentes/raleway/static/Raleway-Regular.ttf)
}

html, body, table {
	font-size: 12px;
	font-family: 'Roboto'
}*/

.texto-12 {
  font-size: 12px;
}

.texto-error {
	font-size: 10px;
	color: red;
}